.overlay {
  position: fixed;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index:4;
}
.overlay .glyphicon {
  position: fixed;
  top: 48%;
  font-size: 60px;
  color: white;
  z-index:6;
  cursor: pointer;
}
.overlay .glyphicon.glyphicon-chevron-left {
  left:30px;
}
.overlay .glyphicon.glyphicon-chevron-right {
  right:30px;
}
img {
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:65%;
  height:70%;
  margin:auto;
  z-index: 5;
}
